<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.BuyRecordDao">
    <resultMap type="BuyRecord" id="BuyRecordResult">
        <result property="id" column="id"/>
        <result property="orders" column="orders"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <insert id="createBuyRecord" parameterType="BuyRecord">
        insert into buy_record(orders) values(#{orders});
    </insert>


</mapper>