<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.CommentShowDao">
    <resultMap type="CommentShowDto" id="CommentShowResult">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="pname" column="pname"/>
        <result property="comment" column="comment"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="findComments" resultMap="CommentShowResult" parameterType="map">
        select c1.id,c2.username,p.pname,c1.`comment`,c1.create_time  from `comment` c1,consumer c2,product p
                <where>
                    c1.pid=p.pid and c1.uid=c2.id
                    <if test="pname != '' and pname != null ">
                        and p.pname like #{pname}
                    </if>
                </where>
                <if test="start!=null and size!=null">
                    limit #{start},#{size}
                </if>
    </select>
    <select id="getTotalComments" resultType="java.lang.Long">
        select count(*)  from `comment` c1,consumer c2,product p
        <where>
            c1.pid=p.pid and c1.uid=c2.id
            <if test="pname != '' and pname != null ">
                and p.pname like #{pname}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>


</mapper>