<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.OrderShowDao">
    <resultMap type="OrderShowDto" id="OrderShowResult">
        <result property="orderId" column="order_id"/>
        <result property="pimage" column="pimage"/>
        <result property="pname" column="pname"/>
        <result property="shopPrice" column="shop_price"/>
        <result property="count" column="count"/>
        <result property="totlePrice" column="totle_price"/>
    </resultMap>
    <select id="getProductCategory" resultType="com.ssm.maven.core.entity.dto.ProductCategoryDto">
        SELECT count(*) num,cname from category c,product p where c.cid=p.cid GROUP BY c.cid;
    </select>
    <select id="listOrders" resultMap="OrderShowResult" parameterType="map">
        select o.order_id,p.pimage,p.pname,p.shop_price,o.count,o.totle_price from `order` o ,product p
        <where>
            <if test="uid!=null and uid !='' ">
                p.pid = o.pid and uid = #{uid}
            </if>
            ORDER BY order_id desc
            <if test="start!=null and size!=null">
                limit #{start},#{size}
            </if>
        </where>
    </select>


</mapper>