<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.ProductDao">
    <resultMap type="Product" id="ProductResult">
        <result property="pid" column="pid"/>
        <result property="pname" column="pname"/>
        <result property="marketPrice" column="market_price"/>
        <result property="shopPrice" column="shop_price"/>
        <result property="pimage" column="pimage"/>
        <result property="pdate" column="pdate"/>
        <result property="isHot" column="is_hot"/>
        <result property="pdesc" column="pdes"/>
        <result property="pflag" column="pflag"/>
        <result property="cid" column="cid"/>
        <result property="store" column="store"/>
    </resultMap>
    <insert id="insertProduct" parameterType="Product">
        insert into product(pname,market_price,shop_price,pimage,pdesc,cid,store) values (#{pname},#{marketPrice},#{shopPrice},#{pimage},#{pdesc},#{cid},10);
    </insert>
    <update id="updateProduct" parameterType="Product">
        update product set pname=#{pname},market_price=#{marketPrice},shop_price=#{shopPrice},pimage=#{pimage},pdesc=#{pdesc},cid=#{cid} where pid=#{pid};
    </update>
    <update id="updateProduct1" parameterType="Product">
        update product set pname=#{pname},market_price=#{marketPrice},shop_price=#{shopPrice},pdesc=#{pdesc},cid=#{cid} where pid=#{pid};
    </update>
    <delete id="deleteProduct">
        delete from product where pid = #{pid};
    </delete>

    <select id="findProducts" parameterType="Map" resultMap="ProductResult">
        select pid,
        pname,
        market_price,
        shop_price,
        pimage,
        pdate,
        is_hot,
        pdesc,
        pflag,
        cid,
        store
        from product
        <where>
            <if test="pname!=null and pname!='' ">
                and pname like #{pname}
            </if>
            <if test="pid!=null and pid!='' ">
                and pid = #{pid}
            </if>
        </where>
        ORDER BY pid desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
    <select id="getTotleProducts" resultType="Long">
        select count(*) from product
        <where>
            <if test="pname!=null and pname!='' ">
                and pname like #{author}
            </if>
        </where>
    </select>
    <select id="findCategory" resultType="java.lang.String">
        select cname from category where cid=#{cid}
    </select>
    <select id="getAllCategories" resultType="com.ssm.maven.core.entity.Category">
        select * from category;
    </select>


</mapper>