<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.StatisticsDao">
    <resultMap type="ProductCategoryDto" id="ProductCategoryResult">
        <result property="cname" column="cname"/>
        <result property="num" column="num"/>
    </resultMap>
    <select id="getProductCategory" resultType="com.ssm.maven.core.entity.dto.ProductCategoryDto">
        SELECT count(*) num,cname from category c,product p where c.cid=p.cid GROUP BY c.cid;
    </select>
    <select id="getCategorySold" resultType="com.ssm.maven.core.entity.dto.CategorySold">
        select c.cname,SUM(o.count) num from `order` o ,category c,product p where o.pid=p.pid and p.cid=c.cid and o.is_buy=1 GROUP BY c.cid;
    </select>
    <select id="getSalesRevenue" resultType="com.ssm.maven.core.entity.dto.RecentOrder">
        select orders,date(create_time) createTime  from buy_record WHERE DATEDIFF(CURDATE(), DATE(create_time)) <![CDATA[<=]]> 7;
    </select>


</mapper>